<!doctype html>
<html lang='{{_language}}'>

<head>
	<meta charset='utf-8' />
	<meta content='IE=edge' http-equiv='X-UA-Compatible' />
	<meta content='width=device-width, initial-scale=1' name='viewport' />
	<meta content='{{_base.description}}' name='description' />
	<meta content='{{_base.author.name}}' name='author' />
	<meta name='robots' content='index,follow'>

	<title>{{_base.title}}</title>

	<meta content="{{_base.og_title}}" property="og:title">
	<meta content="{{_base.og_description}}" property="og:description">
	<meta content="{{_base.og_url}}" property="og:url">
	<meta content="{{_base.og_logo}}" property="og:image">
	<meta content="{{_base.og.type}}" property="og:type">
	<meta content="{{_base.fb.appid}}" property="fb:app_id">

	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&amp;subset=latin,greek'>
	<link href="//fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href='/css/style.min.css'>

</head>

<body>